
.env
.env.*
*.pem
secrets.json

venv/
.venv/
env/
ENV/
.env_dir/


__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db
desktop.ini


*.log
logs/

*.sqlite3
*.db
aiops_db.sqlite


.vscode/
.idea/
*.swp
*.swo